include ../mixins/sub-menu.pug

header.header 
    .container
        .row.align-items-center
            .col-2 
                .inner-logo
                    a(href="/")
                        img(src="/images/Gymlord.png", alt="Logo", class='img-logo')

            if(display)
                .col-3
                    form(
                        action="/search"
                        method="GET"
                    )
                        div(class="form-group d-flex mb-0")
                            input(
                                type="text"
                                placehoder="Nhập từ khóa..."
                                class="form-control"
                                name="keyword"
                                value=key
                            )
                            button(
                                type="submit"
                                class="btn btn-primary"
                            ) Tìm
            else 
                .col-3

            .col-7
                .inner-menu 
                    ul 
                        li 
                            a(href="/") Trang chủ
                        li(class="sub-menu")
                            -const pathProduct = "/product"
                            a(href="/product") Sản phẩm
                            +sub-menu(headerProductCategory,pathProduct)
                        li 
                            a(href="/cart") Giỏ hàng (#{minicart? minicart.totalQuantity : 0})
                        
                        if(user)
                            li 
                                a(href="/users/friends") Bạn bè
                            li 
                                a(href="/rooms-chat") Phòng chat
                            li 
                                img.avatar-small(src=user.avatar alt="avatar")
                                a(href="/user/info") #{user.fullName}
                            li 
                                a(href="/user/logout") Đăng xuất
                        else
                            li 
                                a(href="/user/login") Đăng nhập
                            li 
                                a(href="/user/register") Đăng ký
                            


