include ../mixins/sub-menu.pug

header.header 
    .container
        .row.align-items-center
            .col-3 
                .inner-logo
                    a(href="/")
                        img(src="/images/logo.svg", alt="Logo")

            .col-3
                form(
                    action="/search"
                    method="GET"
                )
                    div(class="form-group d-flex mb-0")
                        input(
                            type="text"
                            placehoder="Nhập từ khóa..."
                            class="form-control"
                            name="keyword"
                            value=key
                        )
                        button(
                            type="submit"
                            class="btn btn-primary"
                        ) Tìm

            .col-5
                .inner-menu 
                    ul 
                        li 
                            a(href="/") Trang chủ
                        li(class="sub-menu")
                            -const pathProduct = "/product"
                            a(href="/product") Sản phẩm
                            +sub-menu(headerProductCategory,pathProduct)
                        li 
                            a(href="/cart") Giỏ hàng (#{minicart? minicart.totalQuantity : 0})
                        
                        if(user)
                            li 
                                a(href="/user/logout") Đăng xuất
                        else
                            li 
                                a(href="/user/login") Đăng nhập
                            li 
                                a(href="/user/register") Đăng ký
                            


