extends ../../layouts/auth.pug
include ../../mixins/flash.pug

block main 
    +flashError(5000)

    .container.my-5
    .row.justify-content-center
      .col-md-6.col-lg-4
        .card.shadow-sm.border-0
          .card-body.p-4
            h1.text-center.mb-4 Đăng nhập
            form(action=`${prefixAdmin}/auth/login` method="POST")
              .form-group.mb-3
                label(for="email" class="form-label") Email
                input(
                  type="email"
                  class="form-control rounded-pill"
                  id="email"
                  name="email"
                  placeholder="Nhập email của bạn"
                  required
                )
              .form-group.mb-3
                label(for="password" class="form-label") Mật khẩu
                input(
                  type="password"
                  class="form-control rounded-pill"
                  id="password"
                  name="password"
                  placeholder="Nhập mật khẩu"
                  required
                )
              .form-group.mb-3
                button(
                  type="submit"
                  class="btn btn-primary btn-block rounded-pill"
                ) Đăng nhập

    script(src="/admin/js/script.js")