extends ../../layouts/default.pug
include ../../mixins/flash.pug

block main 
    +flashError(5000)
    +flashSuccess(3000)

    .container.my-5 
        .row.justify-content-center
            .col-8
                h1(class="text-center") Đổi mật khẩu
                form(
                    action="/user/password/reset"
                    method="POST"
                )            
                    div(class="form-group")
                        label(for="password") Mật khẩu mới
                        input(
                            type="password"
                            class="form-control"
                            id="password"
                            name="password"
                            required
                        )
                    div(class="form-group")
                        label(for="repeat_password") Mật khẩu
                        input(
                            type="password"
                            class="form-control"
                            id="repeat_password"
                            name="repeat_password"
                            required
                        )
                    div(class="form-group")
                        button(
                            type="submit"
                            class="btn btn-primary btn-block"
                        ) Xác nhận

    script(src="/js/script.js")